

  .btnSubmit
{
    width: 40%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    margin-left: 30%;
}
.card-title{

  font:large;
  font-weight: bold;
color:#457bff;
margin-left: 33%;
}
.card{

box-shadow:#457bff;


}
