<div class="container">

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h5 class="card-title">Admin Login</h5>

                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" [formControl]="email" id="email"
                                placeholder="Your Email *" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" [formControl]="password" id="password"
                                placeholder="Your Password *" required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" (click)="login()" id="button" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>